<table>
  <th>
    My Profile
  </th>
  <tr>
    <td>
      Image
    <br>
      image1 image2 image3
    </td>
    <td>
      <tr>
        <br>
        username
      </tr>
      <tr>
        brief bio
        <br>
        blah
        blah
        blah
      </tr>
    </td>
  </tr>
  <tr>
    <td>
      Dropdowns
    </td>
    <td>
      Display
      Match
    </td>
  </tr>
</table>


<!--
<form action="">
  <input type="text" id="username" ng-model="user.gender" placeholder="Username">
  <br>
  <input type="text" uib-dropdown-menu id="username" ng-model="user.gender" placeholder="Username">
  <br>
  <input type="text" id="password" ng-model="user.username" placeholder="Password">
  <br>
  <input type="text" id="password-confirm" ng-model="user.ageRange" placeholder="Confirm Password">
  <br>
  <input type="text" id="password-confirm" ng-model="user.hobbies" placeholder="Confirm Password">
  <br>
  <input type="text" id="password-confirm" ng-model="user.favFood" placeholder="Confirm Password">
  <br>
  <button type="text" id="submit" ng-click="registerUser()" value="Submit" ui-sref="login">Create User</button>
</form>
-->
