
  <p>Registration</p>
  <form action="">
    <div class="form-group">
    <input type="text" id="username" ng-model="user.email" placeholder="Username">
    </div>
    <div class="form-group">
    <input type="text" id="password" ng-model="user.password" placeholder="Password">
    </div>
    <div class="form-group">
    <input type="text" id="password-confirm" ng-model="user.passwordConfirm" placeholder="Confirm Password">
    </div>
    <button type="text" id="submit" ng-click="registerUser()" value="Submit" ui-sref='login' class="btn btn-success">Create User</button>
  </form>
